#Node modules
/node_modules

#Anything that looks next ish
/.next
# The damn build
/public

#tsx md
/tsx.md
#exports
/out

#stepper
/stepper.md
/dialogs.md
/sand.md
/about.md

#server side code
/server